* {
    font-family: "Madimi One", sans-serif;
}

.header-title, #footer, #footer h5 {
    color: darkgray
}

.header-subtitle {
    color: white;
}

#links .row {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(134, 127, 128, 0.785);
}

#links {
    background-size: contain;
    background-repeat: round;
}

#header {
    background-color: gray;
}

#links h3 {
    color: #ffffff;
}

.spill-isi-rumah-oca {
    background-color: rgba(0, 0, 0, 0.8);
}
