* {
    font-family: "Madimi One", sans-serif;
}

.header-title, #footer, #footer h5 {
    color: pink
}

.header-subtitle {
    color: gray;
}

#links {
    background-size: contain;
    background-repeat: round;
}

#header {
    background-color: rgba(240, 185, 185, 0.461);
}

#links h3 {
    background-color: rgba(255, 192, 203, 0.785);
    color: #ca40ac;
}

.spill-isi-rumah-oca {
    background-color: rgba(0, 0, 0, 0.8);
}
